# Node modules should never be committed
node_modules/

# Ignore DB files
data/*.db

# Environment files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VS Code
.vscode/
